<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyber.mapper.ArticleMapper">

    <!-- 手动封住结果集 -->
    <resultMap type="Article" id="articleMap" autoMapping="true">
        <id column="article_id" property="articleId"/>
        <association property="category" javaType="Category" autoMapping="true">
            <id column="category_id" property="categoryId"/>
        </association>
        <association property="user" javaType="User" autoMapping="true">
            <id column="user_id" property="userId"/>
        </association>
    </resultMap>

    <!-- 插入文章 -->
    <insert id="saveArticle">
        insert into tb_article (article_name, article_path, category_id, user_id, article_content)
        values (#{articleName}, #{articlePath}, #{category.categoryId}, #{user.userId}, #{articleContent})
    </insert>

    <select id="showArticle" resultMap="articleMap">
        SELECT *
        FROM tb_article
        WHERE article_id = (SELECT MAX(article_id) FROM tb_article)
    </select>

    <select id="showArticleById" resultMap="articleMap">
        SELECT *
        FROM tb_article
        WHERE article_id = #{articleId};
    </select>

    <select id="selectAllArticle" resultMap="articleMap">
        SELECT * FROM tb_article <!-- limit <if test="pageStart!=null">#{pageStart}</if>,#{pageSize} -->
    </select>

    <select id="selectTop" resultMap="articleMap">
        SELECT *
        FROM tb_article
        ORDER BY click_count DESC;
    </select>


    <select id="pageArticle" resultMap="articleMap">
        SELECT * FROM tb_article limit <if test="pageStart!=null">#{pageStart}</if>,#{pageSize}
    </select>

    <select id="articleCount" resultType="Integer">
        SELECT COUNT(*)
        FROM tb_article
    </select>

</mapper>