<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyber.mapper.CommentMapper">

    <!-- 手动封住结果集 -->
    <resultMap type="Comment" id="commentMap" autoMapping="true">
        <association property="user" javaType="User" autoMapping="true">
            <id column="user_id" property="userId"/>
            <result column="user_name" property="userName"/>
        </association>
        <association property="article" javaType="Article" autoMapping="true">
            <id column="article_id" property="articleId"/>
        </association>
    </resultMap>

    <select id="selectList" resultMap="commentMap">
        SELECT *
        FROM tb_article_review tb1
                 LEFT JOIN (SELECT user_name, user_id FROM tb_user) tb2 ON tb1.user_id = tb2.user_id
        WHERE article_id = #{articleId}
    </select>

    <select id="selectComment" resultMap="commentMap">
        SELECT *
        FROM tb_article_review tb1
                 LEFT JOIN (SELECT user_name, user_id FROM tb_user) tb2 ON tb1.user_id = tb2.user_id
        ORDER BY article_review_ctime DESC
        LIMIT 1
    </select>

    <insert id="insertComment">
        insert into tb_article_review (article_id, user_id, article_review)
        values (#{article.articleId}, #{user.userId}, #{articleReview})
    </insert>

</mapper>